<!DOCTYPE html>
<html lang="en" ng-app="myServiceModule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using a Service</title>
  </head>
  <body>
    <div id="simple" ng-controller="MyController">
      <p>
        Let's try this simple notify service, injected into the controller...
      </p>
      <input ng-init="message='test'" ng-model="message" />
      <button ng-click="callNotify(message);">NOTIFY</button>
      <p>(you have to click 3 times to see an alert)</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
