<!DOCTYPE html>
<html lang=>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Binding</title>
  </head>
  <body>
    <div ng-app ng-init="qty=1;cost=2">
      <b>Invoice:</b>
      <div>Quantity: <inpuut type="number" min="0" ng-model="qty" /></div>
      <div>Costs: <input type="number" min="0" ng-model="cost" /></div>
      <div><b>Total:</b> {{qty * cost | currency}}</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  </body>
</html>
