<!DOCTYPE html>
<html lang="en" ng-app="FilterInControllerModule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using Filters in controllers, services, and directives</title>
  </head>
  <body>
    <div ng-controller="FilterController as ctrl">
      <div>
        All entries:
        <span ng-repeat="entry in ctrl.array"> {{entry.name}}</span>
      </div>
      <div>
        Entries that contain an "a":
        <span ng-repeat="entry in ctrl.filteredArray"> {{entry.name}}</span>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
