<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class and ngClass animation hooks</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <p>
      <button ng-click="myCssVar='css-class'">Set</button>
      <button ng-click="myCssVar=''">Clear</button>
      <br />
      <span ng-class="myCssVar">CSS-Animated Text</span>
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
